

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-image: linear-gradient(rgb(0, 238, 255),rgb(127, 0, 201),rgb(56, 3, 80)); */
    height: 100vh;
}
#login-box {
    animation: login 3s  forwards;
    height: 30vh;
    width: 40%;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 3px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    

}
@keyframes login{
0%{
    transform: translate3d(-200%,0,0)
}
50% {
    transform: translate3d(-200%,0,0)
}
100%{
    transform: translate3d(0,-40%,0)
}
}
.login-text {
    color:rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.nice-line{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.61);
    width: 40vw;
    padding: 3%;
    height: 20vh;
    font-size: 1.5em;
}
/* .twitch-btn{
    display: flex;
    width:100%;
    height: 15%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
} */

.login{
    font-size: 2em;
    font-family: 'Staatliches', cursive;
    color:rgb(255, 255, 255);
  }
  .heading{
    font-size: 8em;
    font-family: 'Staatliches', cursive;
    display: flex;
    color:rgb(70, 0, 88);
  }

  nav{
      position: absolute;
      top: 0%;
  }