

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-image: linear-gradient(rgb(0, 238, 255),rgb(127, 0, 201),rgb(56, 3, 80)); */
    height: 100vh;
}
#login-box {
    height: 40vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 3px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    

}

.login-text {
    color:rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.twitch-btn{
    display: flex;
    width:30%;
    height: 15%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login{
    font-size: 2em;
    font-family: 'Staatliches', cursive;
    color:rgb(255, 255, 255);
  }
  .heading{
    font-size: 8em;
    font-family: 'Staatliches', cursive;
    display: flex;
    color:rgb(70, 0, 88);
  }