@-webkit-keyframes animatetop {
    from {top: 3vw; opacity:0.25}
    to {top: 7vw; opacity:1}
}

@keyframes animatetop {
    from {top: 3vw; opacity:0.25;}
    to {top: 7vw; opacity:1;}
}

@keyframes demo-shadow {
    0% {box-shadow: none;}
    50% {box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363)}
    100% {box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.37)}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes moveAbout {
    25% {
        transform: rotate(-10deg)
    }
    50% {
    }
    75% {
        transform: rotate(10deg)
    }
    100% {
        transform: rotate(-2.5deg)
    }
}

@-webkit-keyframes input-shadow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 10px 10px 10px #6848be;
    }
    100% {
        box-shadow: none;
    }
  }

@keyframes input-shadow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 10px 10px 10px #6848be;
    }
    100% {
        box-shadow: none;
    }
 }


.animatetop {
    -webkit-animation-name: animatetop, demo-shadow;
    -webkit-animation-duration: 2.5s;
    animation-name: animatetop, demo-shadow;
    animation-duration: 2.5s;
}

*{
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

#wrapper{
    display: grid;
}

#myHeader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

#logo-container {
    display: inline-block;
    width: 300px;
    padding-top: 20px;
    /* height: 100%; */
}

#dropdown {
    background: #311b92;
    position: fixed;
    top: 52px;
    right: 0;
    display: none;
    height: 78px;
}

.dropdownBtn {
    padding: 6px;
    border: none;
    color: white;
    background: transparent;
}

#index-banner {
    height: 990px;
    background: url("../img/bg-pattern.png"), #01a1af;
    background: url("../img/bg-pattern.png"), -webkit-linear-gradient(#01a1af, #604b84);
    background: url("../img/bg-pattern.png"), linear-gradient(#01a1af, #604b84);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, auto);
    padding: 0, 20%, 0, 20%;
}

#mainTop {
    grid-column: 1 / 3;
    grid-row: 1;
    height: 100px;
}

#mainLeft {
    grid-column: 1;
    grid-row: 2 / 12;
    width: 100%;
    padding-left: 16vw;
    padding-right: 4vw;
    margin-top: 7vw;
}

#mainRight {
    grid-column: 2;
    grid-row: 2 / 12;
    width: 100%;
    display: none;
    position: relative;
    top: 7vw;
    /* margin-top: 7vw; */
}

#pitch {
    font-size: 42px;
    line-height: 50px;
    font-weight: lighter;
    text-align: center;
}

#downloadButton {
    margin-top: 4vw;
    margin-left: 1vw;
    width: 250px;
    border: white 1px solid;

    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
    margin: 50px 0 0 50px;
    overflow: hidden;
    display: block;
    text-align: center;
    /* line-height: 58px; */
}

#downloadButton:hover {
    text-shadow: 2px 2px 8px rgba(58, 88, 95, 0.507);
    -webkit-animation:input-shadow ease-in-out 1s infinite;
    animation:input-shadow ease-in-out 1s infinite;
}

.ipadImg {
    width: 600px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.616)
}

#hamburger {
    display: none;
}

#dropdown {
    display: none;
}

#features {
    width: 100vw;
    height: 1300px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, minmax(0.5vh, auto));
    /* padding: 0, 20%, 0, 20%; */
    padding-left: 10%;
    padding-right: 10%;
}

#feature1:hover i {
    -webkit-animation-name: moveAbout;
    -webkit-animation-duration: 0.5s;
    animation-name: moveAbout;
    animation-duration: 0.5s;
}

#feature2:hover i {
    -webkit-animation-name: moveAbout;
    -webkit-animation-duration: 0.5s;
    animation-name: moveAbout;
    animation-duration: 0.5s;
}

#feature3:hover i {
    -webkit-animation-name: moveAbout;
    -webkit-animation-duration: 0.5s;
    animation-name: moveAbout;
    animation-duration: 0.5s;
}

#feature4:hover i {
    -webkit-animation-name: moveAbout;
    -webkit-animation-duration: 0.5s;
    animation-name: moveAbout;
    animation-duration: 0.5s;
}

#features h4 {
    font-size: 32px;
    font-weight: lighter;
}

#features p {
    font-size: 19px;
    width: 86%;
    margin-left: 7%;
    /* padding-left: 5%;
    padding-right: 5%; */
}

#featuresHeader {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    padding-top: 5vw;
}

#featuresHeader h5 {
    color: darkgray;
}

#featuresHeader hr {
    width: 10%;
    margin-top: 2vw;
}

#featuresLeft {
    grid-column: 1;
    grid-row: 4 / 11;
}

#featuresLeft img {
    width: 350px;
    margin-top: 10vh;
}

#feature1 {
    grid-column: 2;
    grid-row: 5 / 7;
    width: 100%;
    height: 100%;
    text-align: center;
}

#feature1 i {
    color:#433462;
    font-size: 120px;
}

#feature2 {
    grid-column: 3;
    grid-row: 5 / 7;
    width: 100%;
    height: 100%;
    text-align: center;
}

#feature2 i {
    color:#433462;
    font-size: 120px;
}

#feature3 {
    grid-column: 2;
    grid-row: 8 / 10;
    width: 100%;
    height: 100%;
    text-align: center;
}

#feature3 i {
    color:#433462;
    font-size: 120px;
}

#feature4 {
    grid-column: 3;
    grid-row: 8 / 10;
    width: 100%;
    height: 100%;
    text-align: center;
}

#feature4 i {
    color:#433462;
    font-size: 120px;
}

#gap {
    height: 8vw;
    background-color: white;
}

#demoVid {
    width: 100%;
    height: 75%;
}

#follow {
    padding: 4vh;
    background-color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(4vh, auto));
}

#follDiv {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #24636e;
}

.twitter-follow-button {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin:auto;
}

#fakePricing {
    background-color: white;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 42px;
    padding-top: 42px;
}

.pricingColumn {
    margin: 0;
    padding: 0;
    width: 33%;
    text-align: center;
    color: black;
    border: 1px solid lightgray;
    display: inline-block;
}

.pricingColumn:hover {
    box-shadow: 0 8px 12px 0 rgba(108, 183, 202, 0.418)
}

.pricingHeader {
    background-color: black;
    color: white;
    font-size: 42px;
}

.gray {
    background-color: lightgray;
    font-weight: bold;
}

.pricingColumn ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.pricingColumn li {
    margin: 0;
    padding-top: 16px;
    height: 60px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-size: 18px;
}

.pricingColumn li:last-child {
    padding-top: 16px;
    height: 60px;
    background-color: lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-size: 18px;
}

.pricingButton {
    background-color: #01a1af;
}

#signupModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    background-color: #01707ab0; /* Fallback color */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.3s;
    animation-name: fadeIn;
    animation-duration: 0.3s
}

#signupModalContent {
    margin: auto;
    margin-top: 150px;
    /* margin-left: 10vw; */
    padding-top: 92px;
    background-color: white;
    width: 800px;
    height: 500px;
    overflow: auto;
}

#modalHeader {
    position: fixed;
    top: 150px;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    height: 64px;
    width: 800px;
    vertical-align: top;
    text-align: left;
    background: #24636d;
}

#modalHeader h2 {
    font-size: 18px;
    color: white;
    margin: 0;
    padding: 25px;
}

#modalCard {
    margin-top: 200px;
    width: 500px;
    height: 350px;
    margin: auto;
}

.card-content h5 {
    color: black;
    font-size: 16px;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
}

.disclaimer {
    color: gray;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding-top: 14px;
}

.directions {
    color: black;
    font-size: 12px;
    letter-spacing: 0.5px;
    width: 100%;
}

#modalCard div {
    width: 100%;
    height: 100%;
    padding: 20px;
}

#twitchLogo {
    width: 200px;
}

@media only screen and (max-height: 741px) {
    #signupModalContent {
        margin-top: 110px;
    }
    #modalHeader {
        top: 110px;
    }
}

@media only screen and (max-height: 705px) {
    /* #mainRight {
        margin-top: 8vw;
    }
    #mainLeft {
        margin-top: 8vw;
    } */
}

@media only screen and (max-height: 636px) {
    #signupModalContent {
        margin-top: 56px;
    }
    #modalHeader {
        top: 56px;
    }
}

@media only screen and (max-height: 566px) {
    #signupModalContent {
        margin-top: 28px;
    }
    #modalHeader {
        top: 28px;
    }
}

li {
    list-style: none;
}

p {
    color: gray;
}

.right {
    text-align: right;
    font-size: 12px;
}

@media only screen and (max-width: 1460px) {
    #mainLeft {
        padding-left: 12vw;
    }
}

@media only screen and (max-width: 1280px) {
    .ipadImg{
        width: 500px;
    }
    #mainLeft {
        padding-left: 6vw;
        padding-right: 2vw;
    }
    #index-banner {
        height: 760px;
    }
}

@media only screen and (max-width: 1211px) {
    .pricingColumn li {
        font-size: 15.5px;
    }
}

@media only screen and (max-width: 1024px) {
    #features {
        height: 2000px;
        grid-template-rows: repeat(12, auto);
    }

    #featuresHeader {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
    }

    #featuresHeader h2 {
        font-size: 8vw;
    }

    #featuresHeader h5 {
        font-size: 4vw;
    }

    #featuresLeft {
        grid-column: 1 / 4;
        grid-row: 3 / 5;
        width: 100%;
        height: 100%;
    }

    #featuresLeft img {
        margin-top: 8%;
        width: 42%;
        margin-left: 29%;
    }

    #feature1 {
        grid-column: 1 / 4;
        grid-row: 5 / 7;
    }

    #feature2 {
        grid-column: 1 / 4;
        grid-row: 7 / 9;
    }

    #feature3 {
        grid-column: 1 / 4;
        grid-row: 9 / 11;
    }

    #feature4 {
        grid-column: 1 / 4;
        grid-row: 11 / 13;
    }

    /* Setting the pricing columns */
    .pricingColumn {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 944px) {
    .ipadImg{
        width: 400px;
    }
    #pitch {
        font-size: 32px;
    }
    #downloadButton {
        margin-top: 2vw;
        /* margin-left: 10vw; */
    }
}

@media only screen and (max-width: 992px) {
    #hamburger {
        display: inline-block;
    }
}

@media only screen and (max-width: 824px) {
    #index-banner {
        padding: 0;
        height: 1100px;
    }
    #mainLeft {
        padding-left: 4vw;
        grid-column: 1 / 3;
        grid-row: 2 / 7;
        margin-top: 6vw;
        margin-left: 0;
        height: 10px;
    }
    #mainRight {
        grid-column: 1 / 3;
        grid-row: 7 / 12;
        margin-top: 2vw;
    }
    .ipadImg{
        width: 90%;
        margin-left: 5%;
    }
    #pitch {
        font-size: 30px;
    }
    #downloadButton {
        margin: auto;
    }
    #signupModalContent {
        width: 700px;
    }
    #modalHeader {
        width: 700px;
    }
}

@media only screen and (max-width: 734px) {
    #index-banner {
        height: 1020px;
    }
    #signupModalContent {
        width: 600px;
    }
    #modalHeader {
        width: 600px;
    }
    .ipadImg {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 674px) {
    #pitch {
        font-size: 28px;
    }
    .ipadImg {
        margin-top: 0;
    }
}

@media only screen and (max-width: 654px) {
    #index-banner {
        height: 960px;
    }
    #mainRight {
        margin-top: 14vw;
    }
    #signupModalContent {
        width: 554px;
    }
    #modalHeader {
        width: 554px;
    }
}

@media only screen and (max-width: 560px) {
    #mainLeft {
        margin-top: 2vw;
    }
    #index-banner {
        padding: 0;
        height: 920px;
    }
    #mainRight {
        margin-top: 20vw;
    }
    #signupModalContent {
        width: 460px;
    }
    #modalHeader {
        width: 460px;
    }
    #modalCard {
        width: 372px;
    }
    .directions {
        font-size: 10px;
    }
    #featuresLeft img {
        margin-top: 0;
    }
}

@media only screen and (max-width: 491px) {
    #index-banner {
        padding: 0;
        height: 800px;
    }
    #mainRight {
        padding-top: 32vw;
    }
    #signupModalContent {
        width: 400px;
    }
    #modalHeader {
        width: 400px;
    }
}

@media only screen and (max-width: 412px) {
    #signupModalContent {
        width: 348px;
    }
    #modalHeader {
        width: 348px;
    }
    #modalCard {
        width: 312px;
    }
}

@media only screen and (max-width: 389px) {
    #pitch {
        font-size: 24px;
    }
    #logo-container {
        width: 255px;
    }
}

@media only screen and (max-width: 350px) {
    #signupModalContent {
        width: 348px;
    }
    #modalHeader {
        width: 348px;
    }
    #modelCard {
        width: 324px;
    }
}

@media only screen and (max-width: 334px) {
    #pitch {
        font-size: 22px;
    }
    #logo-container {
        width: 80%;
    }
}

@media only screen and (max-width: 306px) {
    #pitch {
        font-size: 21px;
    }
}

@media only screen and (max-width: 297px) {
    #pitch {
        font-size: 7vw;
    }
    #downloadButton {
        width: 80%;
    }
}