<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Set up</title>
    <link rel="stylesheet" href="/css/instStyles.css">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Exo+2|Fjalla+One|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="container">   
        <div id="grid">
            <div id="header">
                <h1 id="instTitle">Instructions</h1>
                <img src="/img/logosmwht.png" alt="SD">
            </div>
            <div id="introCard">
                <h2>First-time User?</h2>
                <i class="material-icons">new_releases</i>
                <h3>Click <a href="/twitch/instructions">here</a> for a walkthrough.</h3>
            </div>
        </div>
    </div>
</body>
</html>