<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Give money</title>
    <link rel="stylesheet" href="/css/payStyles.css">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Exo+2|Fjalla+One|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="background">
        <div id="paymentModal">
            <div id="modalContent">
                <div id="header"><img src="<%= user.imgUrl %>" alt="userImg"></div>
                <h2 id="headerText">Howdy there <%= user.displayName %>!</h2>
                <div id="price">
                    <div id="icon">
                        <i class="material-icons">payment</i>
                    </div>
                    <h2 id="oneTime">One-time Payment</h2>
                    <p>Use PayPal to authorize a payment of $5.00 to get access to Stream Daddy for Twitch.</p>
                    <input type="text" id="input">
                    <h5>Referral Code (optional)</h5>
                    <div id="paypal-button"></div>
                </div>
                <div id="footer"></div>
            </div>
        </div>
    </div>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script src="/js/payPal.js"></script>
</body>

</html>