<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Privacy Agreement - Stream Daddy</title>
    <link rel="stylesheet" href="/css/privacyStyles.css">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Exo+2|Fjalla+One|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/icons.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/icons.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icons.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icons.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icons.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/icons.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/icons.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icons.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/icons.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/icons.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons.ico/favicon-16x16.png">
    <link rel="manifest" href="/img/icons.ico/manifest.json">
    <meta name="msapplication-TileColor" content="transparent">
    <meta name="msapplication-TileImage" content="/img/icons.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="transparent">
</head>
<body>
    <div id="background">
        <div id="paymentModal">
            <div id="modalContent">
                <div id="header"></div>
                <div id="main">
                    <img src="<%= user.imgUrl %>" alt="userImg">
                    <h2 id="oneTime">Howdy there <%= user.displayName %>!</h2>
                    <p>Please read through our privacy policy below and check that you agree.</p>
                    <div id="privacyDiv">
                        <h6><span>Stream Daddy Privacy Policy</span></h6>
                        <hr>
                        <h6>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from https://www.streamdaddy.app (the &ldquo;Site&rdquo;).</h6>
                        <h6>PERSONAL INFORMATION WE COLLECT</h6>
                        <h6>When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically-collected information as &ldquo;Device Information.&rdquo;</h6>
                        <h6>We collect Device Information using the following technologies:</h6>
                        <h6>- &ldquo;Cookies&rdquo; are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.</h6>
                        <h6>- &ldquo;Log files&rdquo; track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.<br /> - &ldquo;Web beacons,&rdquo; &ldquo;tags,&rdquo; and &ldquo;pixels&rdquo; are electronic files used to record information about how you browse the Site.<br /> [[INSERT DESCRIPTIONS OF OTHER TYPES OF TRACKING TECHNOLOGIES USED]]</h6>
                        <h6>Additionally when you make a purchase or attempt to make a purchase through the Site, we collect certain information from you, including your name, billing address, shipping address, payment information (including credit card numbers [[INSERT ANY OTHER PAYMENT TYPES ACCEPTED]]), email address, and phone number. We refer to this information as &ldquo;Order Information.&rdquo;</h6>
                        <h6>[[INSERT ANY OTHER INFORMATION YOU COLLECT: OFFLINE DATA, PURCHASED MARKETING DATA/LISTS]]</h6>
                        <h6>When we talk about &ldquo;Personal Information&rdquo; in this Privacy Policy, we are talking both about Device Information and Order Information.</h6>
                        <h6>HOW DO WE USE YOUR PERSONAL INFORMATION?</h6>
                        <h6>We use the Order Information that we collect generally to fulfill any orders placed through the Site (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations). Additionally, we use this Order Information to:<br />Communicate with you;<br />Screen our orders for potential risk or fraud; and<br />When in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.<br />[[INSERT OTHER USES OF ORDER INFORMATION]]<br />We use the Device Information that we collect to help us screen for potential risk and fraud (in particular, your IP address), and more generally to improve and optimize our Site (for example, by generating analytics about how our customers browse and interact with the Site, and to assess the success of our marketing and advertising campaigns).<br />[[INSERT OTHER USES OF DEVICE INFORMATION, INCLUDING: ADVERTISING/RETARGETING]]</h6>
                        <h6>SHARING YOUR PERSONAL INFORMATION</h6>
                        <h6>We share your Personal Information with third parties to help us use your Personal Information, as described above. For example, we use Shopify to power our online store--you can read more about how Shopify uses your Personal Information here: https://www.shopify.com/legal/privacy. We also use Google Analytics to help us understand how our customers use the Site--you can read more about how Google uses your Personal Information here: https://www.google.com/intl/en/policies/privacy/. You can also opt-out of Google Analytics here: https://tools.google.com/dlpage/gaoptout.</h6>
                        <h6>Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.</h6>
                        <h6>[[INCLUDE IF USING REMARKETING OR TARGETED ADVERTISING]]<br />BEHAVIOURAL ADVERTISING<br />As described above, we use your Personal Information to provide you with targeted advertisements or marketing communications we believe may be of interest to you. For more information about how targeted advertising works, you can visit the Network Advertising Initiative&rsquo;s (&ldquo;NAI&rdquo;) educational page at http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work.</h6>
                        <h6>You can opt out of targeted advertising by:<br />[[<br /> INCLUDE OPT-OUT LINKS FROM WHICHEVER SERVICES BEING USED.<br /> COMMON LINKS INCLUDE:<br /> FACEBOOK - https://www.facebook.com/settings/?tab=ads<br /> GOOGLE - https://www.google.com/settings/ads/anonymous<br /> BING - https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads<br />]]</h6>
                        <h6>Additionally, you can opt out of some of these services by visiting the Digital Advertising Alliance&rsquo;s opt-out portal at: http://optout.aboutads.info/.</h6>
                        <h6>DO NOT TRACK<br />Please note that we do not alter our Site&rsquo;s data collection and use practices when we see a Do Not Track signal from your browser.</h6>
                        <h6>[[INCLUDE IF LOCATED IN OR IF STORE HAS CUSTOMERS IN EUROPE]]<br />YOUR RIGHTS<br />If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.</h6>
                        <h6>Additionally, if you are a European resident we note that we are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above. Additionally, please note that your information will be transferred outside of Europe, including to Canada and the United States.</h6>
                        <h6>DATA RETENTION<br />When you place an order through the Site, we will maintain your Order Information for our records unless and until you ask us to delete this information.</h6>
                        <h6>[[INSERT IF AGE RESTRICTION IS REQUIRED]]<br />MINORS<br />The Site is not intended for individuals under the age of [[INSERT AGE]].</h6>
                        <h6>CHANGES<br />We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</h6>
                        <h6>CONTACT US<br />For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at streamdaddyapp@gmail.com or by mail using the details provided below:</h6>
                        <h6>15902 Halliburton Rd., #114, Hacienda Heights, CA, 91745, United States</h6>
                    </div>
                    <div id="checkbox"><p id="check">✔</p></div><h4 id="agreement">I agree to Stream Daddy's Privacy Policy</h4>
                    <button id="acceptBtn">Continue</button>
                    <h3 id="error"></h3>
                </div>
                <div id="footer"></div>
            </div>
        </div>
    </div>
    <script src="/js/privacy.js"></script>
</body>

</html>