<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://platform.twitter.com/widgets.js"></script>
</head>
<body>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <a href="https://twitter.com/intent/tweet">Tweet</a>
  <button id="testBtn">Test</button>
    <div id="test"></div>
    <!-- <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <a href="https://twitter.com/intent/tweet?in_reply_to=463440424141459456">Reply</a>
    <a href="https://twitter.com/intent/retweet?tweet_id=463440424141459456">Retweet</a>
    <a href="https://twitter.com/intent/like?tweet_id=463440424141459456">Like</a> -->
    <!-- <div id="twitter-wjs"></div> -->
    <!-- <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
          
            t._e = [];
            t.ready = function(f) {
              t._e.push(f);
            };
          
            return t;
          }(document, "script", "twitter-wjs"));
          const twittr = twittr();
          twittr.load();
          </script> -->
          <!-- <p id="res">hola</p>
          <input type="text">
          <button id="btn">Submit</button>
          <script>
            function sendTweet() {
              var p = document.getElementById('res');
              let xhr = new XMLHttpRequest();
              xhr.withCredentials = false;
              xhr.open("POST", "https://api.twitter.com/1.1/statuses/update.json?status=Maybe%20he%27ll%20finally%20find%20his%20keys.%20%23peterfalk");
              // xhr.setRequestHeader('Content-type', 'application/json');
              xhr.setRequestHeader('origin', '104.175.254.22');
              xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
              xhr.onload = () => {
                  if (xhr.status >= 200 && xhr.status < 300) {
                    p.innerText = xhr.response;
                  } else { 
                    p.innerText = xhr.statusText;
                  }
              }
              xhr.onerror = () => {
                p.innerText = xhr.statusText;
              }
              xhr.send();
            }

            document.getElementById('btn').addEventListener('click', function() {
              sendTweet();
            });
          </script> -->
          <script>
            sendTweet = function() {
                let test = document.getElementById('test');
                let xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open("GET", "https://twitter.com/intent/tweet?original_referer=file:///Users/user/Desktop/Projects/streamPapi/client/views/twitch.html");
                // xhr.setRequestHeader('Content-type', 'application/json');
                xhr.onload = () => {
                    if (xhr.status >= 200 && xhr.status < 300) {
                      test.innerHTML = xhr.response;
                    } else { 
                      test.innerHTML = xhr.statusText;
                    }
                }
                xhr.onerror = () => {
                  test.innerHTML = xhr.statusText;
                }
                xhr.send();
            };

            document.getElementById('testBtn').addEventListener('click', function() {
              sendTweet();
            });
          </script>
</body>
</html>