/* font-family: 'Roboto', sans-serif;
font-family: 'Thasadith', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Major Mono Display', monospace;
font-family: 'Oswald', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Baloo', cursive;
font-family: 'Homenaje', sans-serif;
font-family: 'Rubik Mono One', sans-serif; */
.bottom-panel >* {
box-sizing: border-box;
border:0.5px solid white;
}
.bottom-panel{
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height:40%;
    flex-shrink: 0;
    /* padding: 2px; */
    /* background-color: rgba(0, 0, 0, 0.753); */
    color: aliceblue;
    display: flex;
    flex-direction: row;
}
.game-label{
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); */
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    /* height: 30%; */
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255);
    /* border-radius: 2px; */
    text-align: center;
    width: 100%;
}
.game-playing{
    /* width: 100%; */
    flex-grow: 0;
    flex-shrink: 0;
    
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); */
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    height: 30%;
    align-items: center;
    justify-content: flex-start;
    /* color:rgb(143, 223, 255); */
    background-color: rgb(25, 23, 28)
    ;
    /* border-radius: 2px; */
}
.text-div{
    
    font-family: 'Titillium Web', sans-serif;

    width:80%;
}
.bottom-middle-container{

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:40%;
    flex-shrink: 0;
  }
  .bottom-middle-container>div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    max-width: 100%;
  }
.channel-title{
    /* width: 100%; */
    
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    color:rgb(255, 255, 255);
    background-color: rgb(25, 23, 28);
    /* border-radius: 3px; */
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
    font-family: 'Homenaje', sans-serif;
    font-size: 1rem;
}
.bottom-left-container{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    width:20%;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    
}

.streaming{
    width: 100%;
    height: 48%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border-radius: 5%; */
    background-color: rgb(25, 23, 28);
    color: rgb(0, 255, 34);
    display: flex;

}

.not-streaming{
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border-radius: 2%; */
    background-color: rgb(25, 23, 28);
    color: rgb(255, 0, 0);
    display: flex;
    
    }

 .label2 {
        font-family: 'Roboto Condensed', sans-serif;
        width: 100%;
        height:50%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.profiles-btn{
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border-radius: 2px; */
    background-color: rgb(60, 60, 60);
    color: rgb(255, 255, 255);
    display: flex;
    
}

/* .source-panel>.twitch-btn>div{
    height:0%;
} */

.autocomplete-content li img {
    height: 90%;
    width: 45px;
    
    border-radius:0%;
    padding: 0%;
}
/* .autocomplete-content >li>span  {
    background-color: aqua;
    border:1px solid black;
} */
.channel-status-box{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.update-card{
    /* width: 100%; */
    /* font-family: 'Titillium Web', sans-serif; */
    font-family: 'Staatliches', cursive;
    height: 30%;
    background-color:  rgb(60, 60, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#000000;
    
}

.game-cover{
    height:100%;
   
}

.tweet-container{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tweet-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width:100%;
    background-color: rgb(25, 23, 28);
    /* border-radius: 3px; */
    /* flex-shrink: 0; */
    
}

.title{
color: #ffffff;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
;
font-size: 1em;
line-height: 50%;
padding-top: 5px;
}

.tweet-logo{
    background-image: url("../images/Twitter_Logo_WhiteOnImage.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50%;
    width: 50%;
    display: flex;
    
}

.sp-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50%;
    width: 100%;
}