.bottom-panel{
    width: 100%;
    height:100%;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.753);
    color: aliceblue;
    display: flex;
    flex-direction: row;
}
.game-playing{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
    color:rgb(143, 223, 255);
    background-color: rgb(0, 11, 109);
    border-radius: 2px;
}
.text-div{
    width:80%;
}
.channel-title{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    color:rgb(94, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    /* margin: 5%; */
    display: flex;
    height: 40%;
    align-items: center;
    justify-content: center;
}
.bottom-left-container{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    display: flex;
    width:20%;
    padding: 2px;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    
}

.streaming{
    width: 97%;
    height: 48%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    background-color: rgb(48, 48, 48);
    color: rgb(0, 255, 34);
    display: flex;

}

.not-streaming{
    width: 97%;
    height: 48%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2%;
    background-color: rgb(48, 48, 48);
    color: rgb(255, 0, 0);
    display: flex;
    
    }

 .label2 {
        font-family: 'Roboto Condensed', sans-serif;
        width: 100%;
        height:50%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.profiles-btn{
    width: 97%;
    height: 45%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2%;
    background-color: rgb(0, 47, 255);
    color: rgb(255, 255, 255);
    display: flex;
}

.source-panel>.twitch-btn>div{
    height:100%;
}

.autocomplete-content li img {
    height: 90%;
    width: 45px;
    /* margin: 5px 15px; */
    border-radius:0%;
    padding: 0%;
}
/* .autocomplete-content >li>span  {
    background-color: aqua;
    border:1px solid black;
} */
.channel-status-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.update-card{
    height: 30%;
    background-color: rgb(71, 0, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}