body{
  background-image: url("./images/bg.jpeg");
  background-size: cover;
  
}
.App {
  text-align: center;
  
  
  background-color: #ffffffa9;
  
  
  
}
/* .dropdown-content li>a, .dropdown-content li>span{
  color:white;
  background-color:red;
} */
/* .active>img{
  border-radius: 0;
} */
.modal-content > h4{
  color:white;
}
.bottom-middle-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #0057ad;
  height: 100%;
  width:25%;
}
.bottom-middle-container>div{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #0057ad;
  height: 100%;
  width:100%;
  max-width: 100%;
}

.channel-status-box{
  background-color: #4f0074;
  height:100%;
  width: 100%;
}
.command-item{
  border: solid 1px rgb(58, 58, 58);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}
.input-name{
  color:white;
}

.input-name::placeholder{
  color:rgb(70, 70, 70);
  text-align: center;
}
.commands-box{
  width:100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}
.command-btn{
justify-items: flex-end;
align-self: flex-end;
width:20%;
}
.command-name{
width: 20%;
/* border:rgb(9, 175, 125) solid 1px; */
height:100%;
color:rgb(0, 221, 118);
text-align: center;

input{
  color: white;
}


}
.command-text{
  display: flex;
  width:60%;
  height: 100%;
  color:rgb(214, 0, 125);
}
.command-input-text{
  width: 55%;
}
.commands{
  width:80%;
  justify-content: center;
}
.commands-input{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.commands-container{
  display: flex;
  flex-shrink: 0;
  width: 100%;
}
.commands-modal{
  width: 80%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.829);
}

.player{
  background: #1d7d74;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.login-container{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.nav {
  background-color: #000000;
  height: 50px;
  width: 100vw;
  position: absolute;
  top:0;
  color: #fff;
  display: flex;
  
  justify-content: flex-end;
  align-items: center;
}

.nav-btn{
  display: flex;
    width:10%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-right: #004d64 1px solid;
  
  
  
}
.main-section {
  display: flex;
  height: 100vh;
  flex-basis: 70%;
  /* border: 1px solid red; */
  /* background-image: linear-gradient(to bottom right, rgb(0, 65, 109), rgb(0, 109, 24)); */
  flex-grow: 0;
  flex-direction: column;
  
  
}

.mid-section {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  height: 100vh;

}
/* .chat-section {
  height: 30%;
  flex-basis: 30%;
  border: 1px solid rgb(44, 219, 0);
  overflow-x: hidden;
  overflow-y: scroll; 
  flex-grow: 0;
} */
.App-link {
  color: #61dafb;
}

.video-box-small{
  
  /* pointer-events: none; */
  height: 40vh;
  width: 71vh;
  
  overflow: hidden;
  animation: shrink .5s ;

  
}
.video-box-big{
  
  /* pointer-events: none; */
  height: 100%;
  width: 80%;
  
  overflow: hidden;
  animation: grow .5s ;

  
}

.click{
  height:30px;
  width: 30px;
  border: white solid 1px;
  position: absolute;
}

iframe{
  
  
  height: 100%;
  width: 100%;

  
}



#chat-section {
  margin: 2px;
  height: 100vh;
  flex-basis: 30%;
  /* border: 1px solid rgb(44, 219, 0); */
  overflow-x: scroll;
  overflow-y: scroll; 
  
  display: flex;
  color:rgb(219, 219, 255);
  background-color: #24002167;
  animation: fadeIn 1s linear;
  text-align: left;
  flex-direction: column;
  
  
  
}
.badges{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.not-mod{
  display:none;
}

.is-mod{
  background-size: cover;
  
  
  /* flex-basis: 100%; */
  width: 100%;
  /* border: solid 3px pink; */
}

.scene-panel {
  display: flex;
  flex-shrink: 0;
  height:20px;
  flex-basis: 20%;
  overflow-x: auto;
  overflow-y: hidden;
  /* justify-content: space-evenly; */
}

.source-panel {
  margin: 0px 2px;
  display: flex;
  flex-shrink: 0;
  height:100%;
  flex-basis: 20%;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

.scene-btn {
  flex-direction: column;
  display: flex;
  width: 20%;
  height: 100%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  margin: 0px 0px;
  border-radius: 2px;
  /* padding: 0 16px; */

  text-decoration: none;
  color: rgb(41, 0, 75);
  background-image: linear-gradient(rgba(221, 221, 221, 0.514), rgb(255, 255, 255), rgb(206, 206, 206));
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  font-size: 1rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  
  
  
}
.scene-btn:hover {
  display: flex;
  width: 20%;
  height: 100%;
  background-color: #b3b3b3;
  /* background-image: linear-gradient(#0f665d, #1d7d74, #0b5c54); */
  color: rgb(68, 0, 82);
  /* border: 1px solid red; */
  
  animation: fadeIn .2s linear;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  
}



.selected-scene-btn {
  flex-direction: column;
  display: flex;
  width: 20%;
  height: 100%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  margin: 6px 0;
  border-radius: 2px;
  /* padding: 0 16px; */

  text-decoration: none;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(79, 1, 143, 0.664), rgb(38, 0, 82), rgb(166, 93, 255));
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  font-size: 1rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  
}

.src-btn-active {
  margin: 1.5px 0px;
  flex-direction: column;
  display: flex;
  width: 98%;
  height: 32%;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 0;
  /* margin: 6px 0; */
  border-radius: 2px;
  /* padding: 0 16px; */

  text-decoration: none;
  color: rgb(26, 226, 0);
  background-color: #061727d0;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  font-size: 1rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  
  
  
}
.src-btn-inactive {
  margin: 2px 2px;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 33.3%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  /* margin: 6px 0; */
  border-radius: 2px;
  /* padding: 0 16px; */

  text-decoration: none;
  color: rgb(255, 0, 0);
  background-color: #061727;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  font-size: 1rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  
  
  
}
.source-panel > div{
  width:100%;
  height:100;
  flex-flow: column;
  display: flex;
}
.twitch-btn{
  
  
  /* box-sizing: initial ; */
  padding: 0;
  margin: 2px;
  /* flex-direction: column; */
  /* display: flex; */
  width: 100%;
  /* max-width: 100%; */
  height: 33.3%;
  /* flex-shrink: 0; */
  /* align-items: center;
  justify-content: center; */
  
  /* margin: 6px 0; */
  border-radius: 2px;
  /* padding: 0 16px; */

  text-decoration: none;
  color: rgb(1, 12, 0);
  background-color: #0be0cfea;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  font-size: 1rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  
  
  
}
.source-btn:hover {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 33.3%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  /* margin: 6px 0; */
  border-radius: 2px;
  /* padding: 0 16px; */

  text-decoration: none;
  color: #fff;
  background-color: #0057ad;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  font-size: 1rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  
}

/* .source-btn:active {
  display: flex;
  width: 20%;
  height: 100%;
  flex-shrink: 0;
  background-color: rgb(51, 226, 182);
  color: white;
  
  animation: fadeIn .5s linear;
  
} */

.label {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.chat-card {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  
  background-color: #090f18d8;
  
  /* border-bottom: .5px solid rgb(0, 54, 68); */
  flex-flow: wrap;
  flex-shrink: 0;
  animation: fadeIn 1s linear;
  animation: scroll 1s linear;
  margin: 1px;
  
  /* flex-direction: row; */
}

.chat-name {
  color: rgb(0, 255, 21);
  
}

.chat-message {
  color: #fff;
  align-items: center;
  float: right;
}

.modal1{
  border: 1px solid red;
  width: 100%;
  height: 100%;
  
}
header{
  color:white;
  font-size: 2em;
}
.modal{
  display:flex;
  flex-flow: column ;
  height: 70%;
}
.modal-content{
  display:flex;
  flex-flow: column ;
  align-items: center;
  

}
.modal-header{
  
  
  
}
.modal-footer{
  display: none;
}
.modal-btn-box{
  
}

.material-icons {
  font-size: 200%;
  color: #ffffff;
}

::-webkit-scrollbar { 
  display: none; 
  }



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes scroll {
  from {
    align-items: flex-start;
  }
  to {
    align-items: flex-end;
  }
}

@keyframes grow {
  from {
    height: 60%;
    width: 60%;
  
    overflow: hidden;
  }
  to {
    height: 75%;
  width: 80%;
  
  overflow: hidden;
  }
}

@keyframes shrink {
  from {
    height: 75%;
    width: 80%;
  
    overflow: hidden;
  }
  to {
    height: 60%;
  width: 60%;
  
  overflow: hidden;
  }
}